<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/global.css" />
    <title>Dazzle & Co.</title>
  </head>
  <body>
    <%- include('_nav', { info: info, userId: userId }) %>
    <div class="max-w-7xl mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-10">
        <h1 class="header text-3xl font-normal"><%= data.name %></h1>
        <div class="flex items-center gap-2">
          <span class="text-sm font-normal text-gray-400">Sort by</span>
          <div class="flex items-center gap-1 cursor-pointer">
            <span class="text-sm font-medium">BEST SELLING</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% data.Items.forEach(element => { %>
        <div class="flex flex-col">
          <div class="mb-4 bg-stone-100 relative">
            <a href="/detail/<%= element.id %>">
              <img
                src="<%= element.photoURL %>"
                alt="Mimi Pin Earrings Gold"
                class="w-full object-cover aspect-square"
              />
            </a>
          </div>
          <div class="mb-2">
            <h3 class="font-normal text-medium mb-1"><%= element.title %></h3>
            <p class="text-sm font-normal text-gray-500">
              <%= element.formatPrice %>
            </p>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
