<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
    <%- include('_nav', { info: info, userId: userId }) %>
    <div class="w-[85%] mx-auto">
      <h1 class="text-2xl mb-2">Items</h1>
      <a href="/dashboard/add">Add an Item</a>
      <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-gray-700 uppercase">
            <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50">Photo</th>
              <th scope="col" class="px-6 py-3">Title</th>
              <th scope="col" class="px-6 py-3 bg-gray-50">Description</th>
              <th scope="col" class="px-6 py-3">Price</th>
              <th scope="col" class="px-6 py-3 bg-gray-50">Stock</th>
              <th scope="col" class="px-6 py-3">Category</th>
              <th scope="col" class="px-6 py-3 bg-gray-50">Action</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(element => { %>
            <tr class="border-b border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50"
              >
                <img src=" <%= element.photoURL %>" alt="" class="w-24 h-24" />
              </th>
              <td class="px-6 py-4"><%= element.title %></td>
              <td class="px-6 py-4 bg-gray-50"><%= element.description %></td>
              <td class="px-6 py-4"><%= element.price %></td>
              <td class="px-6 py-4 bg-gray-50"><%= element.stock %></td>
              <td class="px-6 py-4"><%= element.Category.name %></td>
              <td class="px-6 py-4 bg-gray-50">
                <a
                  href="/dashboard/<%= element.id %>/edit"
                  class="hover:text-blue-500"
                  >Edit</a
                >
                <a
                  href="/dashboard/<%= element.id %>/delete"
                  class="hover:text-blue-500"
                  >Delete</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
