<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/global.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('_nav', { info: info, userId: userId }) %>
    <div class="max-w-7xl mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-10">
        <h1 class="header text-3xl font-normal">Favorited by You</h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% data.forEach(element => { %>
        <div class="flex flex-col">
          <div class="mb-4 bg-stone-100 relative">
            <a
              href="/items/favorite/<%= element.dataValues.Item.id %>/delete"
              class="absolute top-4 right-4 z-50 p-2 hover:scale-110 transition-transform"
              onclick="event.stopPropagation();"
            >
              <div class="p-2 bg-gray-200 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="h-6 w-6"
                  stroke="#767676"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6"
                  />
                </svg>
              </div>
            </a>

            <a href="/detail/<%= element.dataValues.Item.id %>">
              <img
                src="<%= element.dataValues.Item.photoURL %>"
                alt="Mimi Pin Earrings Gold"
                class="w-full object-cover aspect-square"
              />
            </a>
          </div>
          <div class="mb-2">
            <h3 class="font-normal text-medium mb-1">
              <%= element.dataValues.Item.title %>
            </h3>
            <p class="text-sm font-normal text-gray-500">
              $<%= element.dataValues.Item.price %>
            </p>
          </div>
          <a
            href=""
            class="font-normal mt-auto bg-black text-white hover:bg-black/90 py-3 mb-8"
          >
            Add To Cart
          </a>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
