<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/global.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('_nav', { info: info, userId: userId }) %>
    <div class="max-w-7xl mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-10">
        <h1 class="header text-3xl font-normal">Explore Now</h1>
      </div>
      <% if (info.search) { %>
      <form class="mx-auto mb-10" method="GET" action="/items">
        <input type="hidden" name="search" value="true" />
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            name="filter"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
            placeholder="Search Jewelries..."
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2"
          >
            Search
          </button>
        </div>
      </form>
      <% } %>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% data.forEach(element => { %>
        <div class="flex flex-col">
          <div class="mb-4 bg-stone-100 relative">
            <a href="/detail/<%= element.id %>">
              <img
                src="<%= element.photoURL %>"
                alt="<%= element.title %>"
                class="w-full object-cover aspect-square"
              />
            </a>
          </div>
          <div class="mb-2">
            <h3 class="font-normal text-medium mb-1"><%= element.title %></h3>
            <p class="text-sm font-normal text-gray-500">
              $<%= element.formatPrice %>
            </p>
          </div>
          <button
            class="font-normal mt-auto bg-black text-white hover:bg-black/90 py-3 mb-8"
          >
            Add To Cart
          </button>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
